{{- if .Values.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: livekit-jwt
  {{- if .Values.ingress.annotations }}
  annotations:
    {{ .Values.ingress.annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  tls:
    - hosts:
        - {{ .Values.ingress.serverName }}
      {{- if .Values.ingress.secretName }}
      secretName: {{ .Values.ingress.secretName }}
      {{- end }}
  rules:
    - host: {{ .Values.ingress.serverName }}
      http:
        paths:
          - path: /sfu/get
            pathType: Exact
            backend:
              service:
                name: livekit-jwt
                port:
                  number: 80
          - path: /get_token
            pathType: Exact
            backend:
              service:
                name: livekit-jwt
                port:
                  number: 80
{{- end }}
