apiVersion: v1
kind: Secret
metadata:
  name: synapse-pgbouncer
  labels:
    app: synapse-pgbouncer
data:
  userlist.txt: |
    {{ printf "\"%s\" \"%s\"" .Values.synapse.postgres.user .Values.synapse.postgres.password | b64enc }}
type: Opaque
