---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: synapse-pgbouncer
  labels:
    app: synapse-pgbouncer
spec:
  replicas: {{ .Values.synapse.pgbouncer.replicas }}
  selector:
    matchLabels:
      app: synapse-pgbouncer
  {{- if .Values.synapse.pgbouncer.updateStrategy }}
  strategy:
    {{ toYaml .Values.synapse.pgbouncer.updateStrategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/pgbouncer-configmap.yaml") $ | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/pgbouncer-secret.yaml") $ | sha256sum }}
      labels:
        app: synapse-pgbouncer
    spec:
      containers:
      - name: pgbouncer
        image: {{ .Values.synapse.pgbouncer.image.repository }}:{{ .Values.synapse.pgbouncer.image.tag }}
        imagePullPolicy: {{ .Values.synapse.pgbouncer.image.pullPolicy }}
        resources:
          {{ toYaml .Values.synapse.pgbouncer.resources | nindent 10 }}
        {{- if .Values.synapse.pgbouncer.extraEnvs }}
        env:
        {{ toYaml .Values.synapse.pgbouncer.extraEnvs | trimSuffix "\n" | nindent 10 }}
        {{- end }}
        ports:
          - containerPort: 5432
            name: pgbouncer
            protocol: TCP
        readinessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 60
          periodSeconds: 10
        volumeMounts:
        - name: config
          mountPath: /etc/pgbouncer/
        - name: userlist
          mountPath: /etc/userlist/
      {{- if .Values.synapse.pgbouncer.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.synapse.pgbouncer.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.synapse.pgbouncer.tolerations }}
      tolerations:
        {{ toYaml .Values.synapse.pgbouncer.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.synapse.pgbouncer.affinity }}
      affinity:
        {{ toYaml .Values.synapse.pgbouncer.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.synapse.pgbouncer.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{ toYaml .Values.synapse.pgbouncer.topologySpreadConstraints | nindent 8 }}
      {{- end }}
      {{- if .Values.synapse.pgbouncer.priorityClassName }}
      priorityClassName: "{{ .Values.synapse.pgbouncer.priorityClassName }}"
      {{- end }}
      terminationGracePeriodSeconds: 10
      volumes:
      - name: config
        configMap:
          name: synapse-pgbouncer
      - name: userlist
        secret:
          secretName: synapse-pgbouncer
