---
apiVersion: v1
kind: Service
metadata:
  name: synapse-pgbouncer
  labels:
    app: synapse-pgbouncer
spec:
  selector:
    app: synapse-pgbouncer
  ports:
  - name: pgbouncer
    port: 5432
    targetPort: 5432
  {{- if .Values.synapse.pgbouncer.sessionAffinityTimeoutSeconds }}
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: {{ .Values.synapse.pgbouncer.sessionAffinityTimeoutSeconds }}
  {{- end }}
