apiVersion: v1
kind: Service
metadata:
  name: element-call
  labels:
    {{- include "element-call.selectorLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "element-call.selectorLabels" . | nindent 4 }}
